@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred on our server. We're sorry :(</h2>
<br>
<h4>Request id: @Model.RequestId</h4>
<h4>Path: @Model.ExceptionInfo.Path</h4>
<h4>Exception: @Model.ExceptionInfo.Error.Message</h4>
<h4>Stack trace:</h4>
<span>@Model.ExceptionInfo.Error.StackTrace</span>