@model Core.Cart

@{
    ViewData["Title"] = "Cart";
}

<h1>
    Your cart
</h1>
<div>
    <partial name="_CartPartial" model=@Model/>
</div>
<a asp-controller="Checkout" asp-action="Checkout">Check out</a>
<a asp-controller="Home" asp-action="Index">Keep shopping</a>