@using Core
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Manage";
}

<h1>Manage Products</h1>
<div>
    <p>
        <a asp-action="Add">Add</a> a product.
    </p>
    <p>... or select a project from the list below to edit it.</p>
</div>
<div>
    <div>
        <ul>
            @foreach (var offer in Model)
            {
                <li>
                    <a asp-action="Edit" asp-route-id=@offer.ProductId>@offer.ProductName</a>  Price: @offer.UnitPrice In stock: @offer.UnitsInStock On order: @offer.UnitsOnOrder
                </li>
            }
        </ul>
    </div>
</div>