@{
    ViewData["Title"] = "About";
}

<div class="owaspTopTen">
    <h2>
        About WebGoat.NetCore
    </h2>
    <div>
        Welcome to WebGoat.NetCore, an intentionally insecure ecommerce website created so that
        you and I can learn to create intentionally secure websites. We've introduced vulnerabilities
        covering the OWASP Top Ten as well as several others.
    </div>
    <div>
        TODO
    </div>
</div>
