
@{
    ViewData["Title"] = "Admin";
}

<h1>Administrator Functions</h1>
<a asp-controller="Order" asp-action="Manage">Manage orders</a>
<br>
<a asp-controller="Product" asp-action="Manage">Manage products</a>
<br>
<a asp-controller="Blog" asp-action="Create">Write a blog entry</a>
<br>