@model Cart

@{
    ViewData["Title"] = "Cart";
}

<h1>
    Your cart
</h1>
<div>
    <partial name="_CartPartial" model=@Model/>
</div>
<button onclick="window.location.href='/Checkout/Checkout'">Check out</button>
<a asp-controller="Product" asp-action="Search">Keep shopping</a>