
@{
    ViewData["Title"] = "MyAccount";
}

<h2>
    Activities
</h2>
<ul>
    <li>
        <a asp-action="ViewAccountInfo">My account information</a>
    </li>
    <li>
        <a asp-controller="Checkout" asp-action="Receipts">My orders</a>
    </li>
    <li>
        <a asp-action="ChangePassword">Change my password</a>
    </li>
</ul>