@model BlogEntry

<div class="blogEntryTitle">@Model.Title</div>
<div class="blogEntryContents">
    @Html.Raw(Model.Contents)
</div>
<div class="blogEntryAuthor">By @Model.Author</div>
<div class="blogEntryPostedDate">@Model.PostedDate</div>